body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.code_text{
   width:600px;
   height:300px;
}

.desc_area{
  width:600px;
  height:150px;
}

a:hover {
    background-color: #0088CC;
    color: white;
    text-decoration: none;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1100px;
}
